/*!
 * WooCommerce Helper style
 *
 * @package hanmoto
 * @handle hanmoto-woocommerce
 */

.hanmoto-actions {
	margin-bottom: 1.618em;
}

.hanmoto-meta {
	display: block;
}

.hanmoto-button {

	&-amazon {
		color: #000 !important;
		border-color: #ff8f00 !important;
		background-color: #ffa41c !important;

		&:hover {
			background-color: #fa8900 !important;
			border-color: #e3931e !important;
		}
	}

}

.hanmoto-book-shop {

	&-props {
		padding: 1em 0;
		margin: 0;
		display: flex;
		justify-content: start;
		box-sizing: border-box;
		flex-wrap: wrap;

		dt,
		dd {
			box-sizing: border-box;
			margin: 0 0 0.5em;
		}

		dt {
			flex: 0 1 25%;
		}

		dd {
			flex: 0 1 75%;
		}

		span.description {
			display: block;
			margin-top: 0.25em;
			opacity: .85;
			font-size: 0.85em;
		}
	}
}

.hanmoto-cart-subtotal {
	display: block;
	margin-top: 0.25em;
}

.hanmoto-cart-detail {
	display: block;
	font-size: .8em;
}

